$color-primary: #1CEF64;
$color-primary-contrast: #FFF;

$color-green: #9DFF84;
$color-green-contrast: #FFF;

$color-red: #E61B41;
$color-red-contrast: #FFF;

$color-yellow: #FFCE5D;
$color-yellow-contrast: #FFF;

$color-blue: #2FBFAE;
$color-blue-contrast: #FFF;

$color-dark-1: #1B1C30;
$color-dark-1-contrast: #FFF;

$color-dark-2: #212238;
$color-dark-2-contrast: #FFF;

$color-medium: #8D8E8E;
$color-medium-contrast: #FFF;

$color-light: #DCDCDC;
$color-light-contrast: $color-dark-1;